{% extends "base/base.html" %}
{% load static %}

{% block render_css %}
    <link rel="stylesheet" href={% static "shop/css/shop.css" %}>
{% endblock render_css %}

{% block content %}
    <div class="main__wrapper">

    <div class="nav__main">
        <ul>
            <li>
                <a href="#" class="active">Программы</a>
            </li>
            <li>
                <a href="#" >Сервисы</a>
            </li>
        </ul>
    </div>

    <div class="nav__body__main">
        <h3>Категории:</h3>
        <ul>
            <li>
                <a href="#"><b>Дизайн и графика</b></a>
            </li>
        </ul>
    </div>

    <div class="body__main">

        <a href="#" class="product__card">

            <div class="product__card__head">
                <h3>BrickDesignBD001</h3>
            </div>
            <div class="product__card__img">
                <img src={% static "shop/img/brickdesigner_icon_256.png" %} alt="brickdesigner">
            </div>
            <div class="product__card__text">
                <p>BrickDesignBD001 - графическое приложение, конструктор кирпичной кладки, позволяющее создать как обычную
            текстуру, так и процедурные карты к ней, для получения 3D материала.</p>
                <p class="product__card__platform"><span>Платформа:</span> PC <br>
                    <span>Язык интерфейса: </span> Английский <br>
                    <span>Версия ОС: </span> Windows 10, Windows 7, Windows 8, Windows 8.1 <br>
                    <span>Тип ПО:</span> Прикладные программы <br>
                </p>
            </div>

        </a>

    </div>
</div>

{% endblock content %}