.about{
    width: 90%;
    text-align: center;
    background-color: #fafafa;
    border-radius: 15px;
    box-shadow: #00000033 0 4px 2px -2px;
    font-weight: 100;
    font-size: 15px;
    margin: 48px auto;
    padding: 10px 40px;

    p {
        color: #3a3a3a;
    }
}