{% extends "base.html" %}
{% load static %}

{% block render_css %}
    <link rel="stylesheet" href={% static "blog/css/blog.css" %}>
{% endblock render_css %}

{% block content %}
    <div class="container-fluid">
    <div class="row block__common justify-content-between no-gutters background">


          <div class="col-12 col-lg-8 order-lg-1 order-2 block">

            {% block blog__body__post %}
            <div class="row">
                      <div class="col-12 blog__post__header">
                          <h1>Статьи</h1>
                      </div>
                      <div class="col-12">
                    {% for post in posts %}
                              <div class="row blog__post">
                                <div class="col-12 blog__post__title">
                                  <h2>{{ post.title }}</h2>
                                </div>
                                <div class="col-12 blog__post__text">
                                    <p>{{ post.body|truncatewords:30 }}</p>
                                </div>
                                <div class="col-12 blog__post__pub__date__and__read">
                                  <a href="{{ post.get_absolute_url }}">Читать далее <i class="fa fa-angle-double-right"></i></a>
                                </div>
                              </div>
                            {% endfor %}
                            {% include "blog/pagination.html" with page=posts %}
                          {% endblock blog__body__post %}
                </div>
            </div>
          </div>

          <div class="col-12 col-lg-3 order-lg-2 order-1 block">

              <div class="row blog__nav">
                <div class="col-12 blog__nav__category">
                  <h3>Категории:</h3>
                  <ul>
                    <li>
                    <a href="#"><b>Программирование</b></a>
                    </li>
                    <li>
                      <a href="#"><b>Мото и путешествия</b></a>
                    </li>
                  </ul>
                </div>

                <div class="blog__nav__searsh col-12">
                  <h3>Поиск по статьям</h3>
                  <form action="#">
                    <input type="text">
                    <button><i class="fa fa-search"></i></button>
                  </form>
                </div>

                <div class="blog__nav__tag col-12">
                  <h3>Метки</h3>
                  <ul>
                    <li>
                    <a href="#"><b>Python</b></a>
                    </li>
                    <li>
                    <a href="#"><b>Django</b></a>
                    </li>
                    <li>
                    <a href="#"><b>PySide2(PyQt5)</b></a>
                    </li>
                    <li>
                    <a href="#"><b>Linux</b></a>
                    </li>
                  </ul>
                </div>
            </div>
          </div>
      </div>
    </div>
{% endblock content %}