/.python-version
/db.sqlite3
/maxcoder_config/prod_settings.py
/.idea
/deploy_config/save_text.txt
/backend/pages/migrations/
/backend/blog/migrations/
/backend/profile/migrations/
/backend/store/migrations/
