/.python-version
/db.sqlite3
/maxcoder_config/prod_settings.py
/.idea
/deploy_config/save_text.txt

**/migrations/**
!**/migrations
!**/migrations/__init__.py
*backend/*/migrations/*
!*backend/*/migrations
!*backend/*/migrations/__init__.py

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

media/*
!*media
!*media/photo.jpg
