{% extends "base.html" %}
{% load static %}

{% block render_css %}
    <link rel="stylesheet" href={% static "home_page/css/home.css" %}>
{% endblock render_css %}

{% block content %}
    <div class="content__wrapper">

        <header>
            <div class="header__head">
                <h1>Web-программирование</h1>
                <p> и разработка программного обеспечения.</p>
            </div>
            <div class="header__img">
                <img src={% static "home_page/img/header.png" %} alt="header">
            </div>
        </header>


        <div class="about" id="about">

            <div class="about__head">
                <h2> Коротко обо мне: </h2>
            </div>

            <div class="about__wrapper">

                <div class="about__img">
                    <img src={% static "home_page/img/about.jpg" %} alt="about">
                </div>

                <div class="about__text">
                    <p>Всем привет! Меня зовут Максим (Pritvor69). Я web-разработчик и автор этого блога.
                        Рад видеть вас на его страничках! В процессе работы и учебы я часто сталкиваюсь с интересной
                        информацией, которой хотелось бы поделиться с вами :) Но, поскольку у меня, как и у практически
                        любого человека, интересы не ограничиваются лишь одной областью, то и писать в блоге только о
                        веб-разработке и программировании было бы неправильно. Ведь в мире так много интересного!
                        Буду рад, если мои статьи окажутся полезными и помогут вам разобраться в ваших вопросах!
                    </p>
                </div>
            </div>
        </div>

        <div class="last__blog__post">
            <div class="last__blog__post__head">
                <h2> Новое в статьях: </h2>
            </div>
        </div>

        <div class="work">

            <div class="work__head">
                <h2>Мои работы,</h2>
                <p> и проекты в которых я участвовал.</p>
            </div>

            <div class="work__wrapper">

            </div>

        </div>

        <div class="contacts" id="contacts">
            <div class="contacts__head">
                <h2> Контакты: </h2>
            </div>
        </div>

    </div>
{% endblock content %}
