{% extends 'base.html' %}
{% load static %}

{% block render_css %}
    <link rel="stylesheet" href={% static "account/css/program_license.css" %}>
{% endblock render_css %}

{% block content %}
    <div class="container-fluid">
    <div class="row block__common justify-content-center">

        <div class="col-12 block">
            <div class="row justify-content-md-start justify-content-center">
                <div class="col-4 col-sm-3 col-md-2 col-lg-1">
                    <img src="{% static "account/img/brickdesigner_icon_256.png" %}" alt="Картинка">
                </div>
                <div class="col-12 col-sm-9 col-md-10 col-lg-11 align-content-sm-center">
                    <h3> Brick Design BD001 <span>ver. 1.0 </span></h3>
                    <p>Программа для сборки бесшовных текстур кирпичной кладки, из разноцветных кирпичей (13 цветов) 1
                        НФ на
                        сером растворе.</p>
                </div>
            </div>
        </div>

        <hr>

        {% for z in user.licensebrickdesign_set.all %}
            <div class="col-12 block__license">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="row justify-content-start">
                            <div class="col-12 col-md-5 col-lg-6">
                                <p><span>Лицензионный ключ:</span></p>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-12 col-md-5 col-lg-4">
                                <p class="border">{{ z.key }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row justify-content-start">
                            <div class="col-12 col-md-5 col-lg-6">
                                <p><span>Активирован на компьютере:</span></p>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-12 col-md-5 col-lg-4">
                                {% if z.computer_name %}
                                <p class="border">{{ z.computer_name }}</p>
                                {% else %}
                                <p class="border">Ключ не активирован</p>
                                {% endif %}
                                <a class="remove__active" href='#'><i class="fa fa-times-circle-o"> Сброс активации</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}

         <div class="col-12 block__license">
                    <div class="row justify-content-start">
                        <div class="col-12 col-md-4">
                            <a class="btn" href='#'>Приобрести лицензию</a>
                        </div>
                        <div class="col-12 col-md-4">
                            <a class="btn" href='#'>Подробнее о программе</a>
                        </div>
                        <div class="col-12 col-md-4">
                            <a class="btn" href='#'>Помощь</a>
                        </div>
                    </div>
         </div>


    </div>
    </div>
{% endblock content %}