@import "normalize";

$bg-head-footer: url(../img/bg-head-footer.png);
$font: Arial, sans-serif;
$hover_color: #00cfd6;

body {
  font-family: $font;
  font-size: 14px;
}

.wrapper {
  display: grid;
  grid-template-areas: "nav nav nav" "main main main" "footer footer footer";
  grid-template-rows: minmax(70px, 10vh) 1fr 100px;
  grid-template-columns: minmax(0, 5%) 1fr minmax(0, 5%);
  margin: 0;
  height: 100vmin;
}


/* Navigation */

nav {
  grid-area: nav;
  display: flex;
  width: 100%;
  background-image: $bg-head-footer;
  border-radius: 0 0 10px 10px;

  ul {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 0;

    img {
      width: 90px;
      height: auto;
      display: block;
      margin: 0 0 0 35px;
    }

    li {
      list-style: none;
      padding: 0 0 0 20px;
      white-space: nowrap;

      &:last-child {
        margin: 0 35px 0 auto;


        a {
          border: 2px solid #504f4f;
          background-color: #ffffff;
          padding: 5px 10px;
          border-radius: 4px;
          cursor: pointer;
          color: #000000;
          outline: none;
          font-size: 13px;

          &:hover {
            color: $hover_color;
            border-bottom: none;
          }
        }
      }

      a {
        text-decoration: none;
        color: white;

        &:hover {
          border-bottom: 2px solid $hover_color;
        }
      }
    }
  }
}


/* Content */
main {
  grid-area: main;
  display: flex;
}

.content__wrapper {
  display: grid;
  grid-template-areas: "header header header" "about about about" "work work work";
  grid-template-rows: 90vmin 1fr 1fr;
  grid-template-columns: minmax(0, 5%) 1fr minmax(0, 5%);
  margin: 0;
}

header {
  grid-area: header;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  background-color: #e1ebff;
  background-image: url(../img/bg02.png);
  background-repeat: repeat;


  .header__head {
    text-align: center;

    h1 {
      margin: 0;
    }
  }

  .header__img {

    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: auto;
    }
  }
}

.about {
  grid-area: about;
  background-image: url(../img/bg02.png);
  background-repeat: repeat;
  box-shadow: #00000033 0 4px 2px -2px;
  border-radius: 15px;
  font-weight: 100;
  font-size: 15px;
  padding: 10px 40px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;


  .about__head {
    text-align: center;

    h2 {
      margin-bottom: 40px;
    }
  }

  .about__wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 1rem;
    margin: 0;
    justify-content: center;


    .about__img {

      img {
        max-width: 70%;
        height: auto;
        display: block;
        margin: auto;
      }
    }

    .about__text {
      text-align: center;

      p {
        color: #3a3a3a;
      }
    }
  }
}

/* Footer */
footer {
  grid-area: footer;
  background: $bg-head-footer;

  p {
    color: #ffffff;
    text-align: center;
    font-style: italic;
    font-size: 10px;
  }
}
