@media screen and (max-width: 700px) {
  .main__wrapper {
    grid-template-areas: "nav__main nav__main" "nav__body__main nav__body__main" "body__main body__main";
    grid-template-rows: auto auto 1fr;
  }

  .body__main {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-self: center;
  }
}