$hover_color: #00cfd6;

.main__wrapper {
  display: grid;
  grid-template-areas: "nav__main nav__main" "nav__body__main body__main";
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-row-gap: 2px;
  margin: 0;
  height: 100vmin;
  background-color: #E1EBFF;
}

.nav__main {
  grid-area: nav__main;
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    width: 98%;
    margin: 0;
    padding: 10px 10px 10px 35px;


    li {
      list-style: none;
      white-space: nowrap;
      margin:  0 0 0 -25px;
      padding: 0;
      width: 100%;
    }

    a {
      display: block;
      font-weight: 600;
      color: black;
      text-decoration: none;
      letter-spacing: 1px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      font-size: 15px;
      background: #FFF9E6;
      user-select: none;
      padding: .5em 2em;
      outline: none;
      border: 2px solid;
      border-radius: 10px 40px 10px 40px;
      transition: 0.2s;

      &:hover {
        background: #C6D5F2;
      }

      &.active{
        background: #E1EBFF;
        border-bottom: none;
      }

    }
  }
}

.nav__body__main {
  grid-area: nav__body__main;
  padding: 0 15px;

  h3 {
    white-space: nowrap;
    margin: 10px 0;
  }


  ul {
    display: flex;
    justify-content: start;
    width: 100%;
    margin: 0 0 0 20px;
    padding: 0;


    li {
      white-space: nowrap;

      a {
        padding: 5px;
        text-decoration: none;
        font-size: 17px;
        white-space: nowrap;
        font-weight: bolder;
      }
    }
  }
}

.body__main {
  grid-area: body__main;
  text-align: center;
  border: 2px red solid;
}


@import "response";