$hover_color: #00cfd6;

.main__wrapper {
  display: grid;
  grid-template-areas: "nav__main nav__main" "nav__body__main body__main";
  grid-template-rows: auto 1fr;
  grid-row-gap: 2px;
  margin: 0;
  height: 100vmin;
}

.nav__main {
  grid-area: nav__main;
  display: flex;
  border-bottom: 2px red solid;

  ul {
    display: flex;
    justify-content: start;
    width: 100%;


    li {
      list-style: none;
      white-space: nowrap;
    }

    a {
      display: block;
      font-weight: 600;
      color: #e5f8ff;
      text-decoration: none;
      letter-spacing: 1px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      font-size: 15px;
      background: rgb(118, 155, 255);
      user-select: none;
      padding: .5em 2em;
      outline: none;
      border: 2px solid;
      border-radius: 40px 0 40px 0;
      transition: 0.2s;

      &:hover {
        background: rgb(0, 117, 223);
      }
    }
  }
}

.nav__body__main{
  grid-area: nav__body__main;

  ul{
    display: flex;
    justify-content: start;
    width: 100%;


    li {
      list-style: none;
      white-space: nowrap;
    }
  }
}

.body__main {
  grid-area: body__main;
  text-align: center;
}
