@media screen and (max-width: 720px) {

  header {
    height: calc(100vh - 117px);
  }

  .about__head {
    h2 {
      margin: 15px;
    }
  }

  .about__wrapper {
    .about__img {
      padding: 0;

      img {
        padding: 15px;
      }
    }
  }

  .contacts {
    .contacts__wrapper {
      .contacts__social{
        text-align: center;
        padding: 20px;
      }
      .contacts__mail {
        text-align: center;
        padding: 10px;
      }
    }
  }


  .fieldWrapper {
    align-items: center;
  }


}
