@import "mixin";

$hover_color: #00cfd6;


/* Content */
main {
  display: flex;
}

.content__wrapper {
  display: grid;
  grid-template-areas: "header header header"
                       "about about about"
                       "blog blog blog"
                       "work work work"
                       "contacts contacts contacts";
  grid-template-rows: auto repeat(4, 1fr);
  grid-template-columns: minmax(0, 5%) 1fr minmax(0, 5%);
  grid-row-gap: 2px;
  margin: 0;
}

/* Header */

header {
  grid-area: header;
  @include background__content;
  height: calc(100vh - 67px);



  .header__head {
    text-align: center;

    h1 {
      margin: 0;
    }
  }

  .header__img {

    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: auto;
    }
  }
}

/* About */

.about {
  grid-area: about;
  @include background__content;
  background-color: white;
  flex-flow: column nowrap;

  .about__head {
    text-align: center;

    h2 {
      margin-bottom: 30px;
    }
  }

  .about__wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin: 0;


    .about__img {
      padding-bottom: 30px;

      img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: auto;
      }
    }

    .about__text {
      text-align: center;
      font-weight: 100;
      font-size: 15px;
      padding: 10px 10%;

      p {
        color: #3a3a3a;
      }
    }
  }
}

/* Blog */

.last__blog__post{
  grid-area: blog;
  @include background__content;

  .last__blog__post__head {
    text-align: center;

    h2 {
      margin: 5px 0;
    }

    p{
      margin: 0;
    }
  }
}

/* Work */

.work {
  grid-area: work;
  @include background__content;
  background-color: white;
}

.work__head {
    text-align: center;

    h2 {
      margin: 5px 0;
    }

    p{
      margin: 0;
    }
  }

/* Blog */

.contacts{
  grid-area: contacts;
  @include background__content;

  .contacts__head {
    text-align: center;

    h2 {
      margin: 5px 0;
    }

    p{
      margin: 0;
    }
  }
}

@import "response";