@mixin button {
  display: block;
  font-weight: 600;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  text-shadow: $shadow;
  font-size: 15px;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px black solid;
  border-radius: 10px 40px 10px 40px;
  transition: 0.2s;
  text-align: center;
  background: #418241;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);;

  &:hover {
    color: white;
    background: $hover_color;
  }
}