{% extends 'base.html' %}
{% load static %}
{% load account %}

{% block render_css %}
    <link rel="stylesheet" href={% static "account/css/password_reset.css" %}>
{% endblock render_css %}

{% block content %}
      <div class="row block__common justify-content-center">
        <div class="col-12 block">
          <h2>Сброс пароля</h2>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p>Забыли свой пароль? Введите ваш e-mail адрес ниже, и мы вышлем вам письмо для сброса пароля.</p>
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
              {% csrf_token %}
              <div class="row justify-content-center">
                <div class="col-12 col-md-4 fieldWrapper">
                    {{ form.email.errors }}
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
              </div>
              <input type="submit" value="Сбросить мой пароль" />
            </form>
            <p>Свяжитесь с нами, если у вас возникли сложности со сменой пароля.</p>
        </div>
      </div>
{% endblock content %}