@import "normalize";
$hover_color: #00cfd6;
$background_img: url("../img/bg-head-footer.png");
$font: Arial, sans-serif;

a {
  text-decoration: none;
  color: #3a3a3a;
}

a:hover {
  color: $hover_color;
}

li {
  text-decoration: none;
  list-style: none;
}

hr {
  width: 80%;
  border: 0;
  border-top: 1px solid #b3b3b346;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $font;
  font-size: 14px;
  height: 100%;
}

header{
  flex: 0 0 auto;
}

.logo {
  background: $background_img;
  border-radius: 0 0 10px 10px;

  p {
  color: #ffffff;
  text-align: center;
  }

  img {
    width: 100px;
    height: auto;
    padding: 5px;
    display:block;
    margin:5px auto;
   }
}

nav {
  padding: 5px;
}

.topnav {
  margin-top: 10px;
 
  a {
  display: flex;
  text-align: center;
  color: #fffbff;
  padding: 5px 10px;
  font-size: 15px;
  }

  a:hover {
  border-bottom: 2px solid $hover_color;
  }
}

.logInOut {
  margin-top: 10px;

  a {
  display: flex;
  border: 2px solid #504f4f;
  background-color: #ffffff;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
  color: #000000;
  outline: none;
  font-size: 13px;
  }

  a:hover {
  color: $hover_color;
  }
}

main{
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
  background: $background_img;
  padding: 20px 0px;
  
  p {
  color: #ffffff;
  text-align: center;
  font-style: italic;
  font-size: 10px;
  }
}

.background{
  background: url("../img/bg02.png");
}

